<nav class="navbar navbar-toggleable-md navbar-dark scrolling-navbar fixed-top">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapseEx2" aria-controls="collapseEx2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <strong class="orbitron">Thik</strong>
        </a>
        <div class="collapse navbar-collapse" id="collapseEx2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="https://drive.google.com/open?id=0B8t-xMh4FtYlaHo1TnlBMFRJbHM" target="_blank" class="nav-link">Quem somos</a>
                </li>
                <li class="nav-item">
                  <a href="http://www.cin.ufpe.br/~if675ec/arquivos/projetos/DE2_115_User_Manual.pdf" target="_blank" class="nav-link">Doar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--/.Navbar-->

<!-- Main container-->
<div class="view hm-black-strong">
    <div class="flex-center" style="height: {{ hgt }}px">
    <ul>
        <li>
            <h1 class="h1-responsive wow fadeInDown orbitron" data-wow-delay="0.2s">Bem vindo ao Thik</h1>
        </li>
        <br>
        <li>
            <input type="email" placeholder="Email"></input>
            <input type="password" placeholder="Senha"></input>
        </li>
        <li>
            <a target="_blank" href="#" class="btn btn-success btn-lg wow fadeInLeft" data-wow-delay="0.2s" style="background: none; border-radius: 0px;">Criar conta</a>
            <a target="_blank" href="#" class="btn btn-success btn-lg wow fadeInRight" data-wow-delay="0.2s" style="background: none; border-radius: 0px;">Entrar</a>
        </li>
    </ul>

    </div>
    <div style="background-color: #ccc; opacity: 0.3; text-align: center; width: 100%;">
          Made with ♥ by <a class="modern-link" style="color: #000" href="http://victoraurelio.com">ovictoraurelio</a>
    </div>
    <!--Footer-->
    <!--<footer class="page-footer center-on-small-only mdb-color darken-4">-->
        <!--Copyright-->

        <!--/.Copyright-->
    <!--</footer>-->
    <!--/.Footer-->
</div>



